<div class="col-md-4">
    <p v-html="article.Title"></p>
    <div style="text-align:right; margin-bottom:15px;">
        <span v-on:click="readarticle()" class="btn btn-outline-primary" role="button">
            Learn more &raquo;
        </span>
    </div>
</div>