<template src="./ArticleHeader.html"></template>
<style scoped src="./ArticleHeader.css"></style>

<script>
export default {
  name: "ArticleHeader",

  props: ["parent", "article"],

  methods: {
    readarticle: function() {
      let th = this;
      fetch("http://localhost:52102/api/Articles/" + th.article.Id)
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          th.parent.focusedarticle = data;
          th.parent.multipage = false;
        });
    }
  }
};
</script>
