<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="../assets/logo.png" style="width:30px; height:30px;" class="d-inline-block align-top" alt=""> Good NewsAggregator
    </a>
    <form class="form-inline">
        <div v-if="parent.auth==undefined" class="input-group">
            <input type="text" class="form-control" placeholder="Username" v-model="nameinput" aria-label="Username" aria-describedby="basic-addon2">
            <input type="password" class="form-control" placeholder="Password" v-model="passinput" aria-label="Password" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-secondary" v-on:click="auth()" type="button">Login</button>
            </div>
        </div>
        <div v-else class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">{{parent.auth.parsedtoken.name}}</span>
            </div>


            <input type="text" class="form-control" placeholder="min goodness to draw" v-model="mingoodnessinput" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-primary" v-on:click="setmingoodness();" type="button">Set</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-secondary" v-on:click="parent.auth = undefined" type="button">Logout</button>
            </div>
        </div>
    </form>
</nav>