<template src="./Navbar.html"></template>
<style scoped src="./Navbar.css"></style>

<script>
export default {
  name: "Navbar",

  data() {
    return {
      nameinput: "",
      passinput: "",
      mingoodnessinput: ""
    };
  },

  props: ["parent"],

  methods: {
    setmingoodness: function() {
      let th = this;
      if (
        th.mingoodnessinput != undefined &&
        th.mingoodnessinput != "" &&
        th.mingoodnessinput == parseInt(th.mingoodnessinput, 10)
      ) {
        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json; charset=utf-8");
        myHeaders.append(
          "Authorization",
          "Bearer " + th.parent.auth.accesstoken
        );
        fetch("http://localhost:52102/api/Settings/" + th.mingoodnessinput, {
          method: "POST",
          headers: myHeaders
        }).then(function(response) {});
        fetch("http://localhost:52102/api/Auth/" + th.parent.auth.refreshtoken)
          .then(function(response) {
            return response.json();
          })
          .then(function(data) {
            let base64Url = data.AccessToken.split(".")[1];
            let base64 = base64Url.replace("-", "+").replace("_", "/");
            let tokens = {
              refreshtoken: data.RefreshToken,
              accesstoken: data.AccessToken,
              parsedtoken: JSON.parse(window.atob(base64))
            };
            th.parent.auth = tokens;
          });
      }
      th.mingoodnessinput = undefined;
    },

    auth: function() {
      let th = this;
      fetch(
        "http://localhost:52102/api/Auth/" + th.nameinput + "/" + th.passinput
      )
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          if (data.AccessToken == undefined) {
            th.parent.auth = undefined;
          } else {
            var base64Url = data.AccessToken.split(".")[1];
            var base64 = base64Url.replace("-", "+").replace("_", "/");
            let tokens = {
              refreshtoken: data.RefreshToken,
              accesstoken: data.AccessToken,
              parsedtoken: JSON.parse(window.atob(base64))
            };
            th.parent.auth = tokens;
          }
        });
    }
  }
};
</script>
