<template src="./NewsList.html"></template>
<style scoped src="./NewsList.css"></style>

<script>
import ArticleHeader from "./ArticleHeader.vue";
import Paginator from "./Paginator.vue";
import Navbar from "./Navbar.vue";

export default {
  components: {
    navbar: Navbar,
    "article-header": ArticleHeader,
    paginator: Paginator
  },

  name: "NewsList",

  data() {
    return {
      articles: [],
      multipage: true,
      focusedarticle: "",
      ths: this,
      username: "",
      auth: undefined,
      newcomment: ""
    };
  },

  methods: {
    parsetime: function(unparsed) {
      let time0 = unparsed.split("T");
      return (
        time0[0].split("-")[2] +
        "." +
        time0[0].split("-")[1] +
        "." +
        time0[0].split("-")[0].substr(2) +
        " " +
        time0[1].split(":")[0] +
        ":" +
        time0[1].split(":")[1]
      );
    },
    createcomment: function() {
      let th = this;
      let myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json; charset=utf-8");
      myHeaders.append("Authorization", "Bearer " + this.auth.accesstoken);
      fetch(
        "http://localhost:52102/api/Comments/" +
          this.focusedarticle.Id +
          "/" +
          this.newcomment,
        { method: "POST", headers: myHeaders }
      )
        .then(function(response) {})
        .then(function() {
          fetch("http://localhost:52102/api/Articles/" + th.focusedarticle.Id)
            .then(function(response2) {
              return response2.json();
            })
            .then(function(data2) {
              th.focusedarticle = data2;
            });
        });
    }
  }
};
</script>



