<div>
    <navbar :parent="ths"></navbar>
    <div class="container body-content">
        <template v-if="multipage == true">
            <paginator v-bind:parent="this" v-bind:auth="auth"></paginator>
            <div class="row">
                <article-header v-for="article in articles" v-bind:key="article.Id" v-bind:article="article" v-bind:parent="ths">
                </article-header>
            </div>
        </template></template>
        <template v-else>
            <div class="row">
                <div class="col-md-3">
                    <template v-if="auth != undefined">
                        <textarea class="form-control" rows="6" v-model="newcomment"></textarea><br>
                        <span type="button" class="btn btn-outline-primary btn-sm btn-block" v-on:click="createcomment()">Comment this!</span>
                    </template>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 h3" v-html="focusedarticle.Title">
                    </div>
                    <div class="small">
                        <b>{{parsetime(focusedarticle.PublishTime).substr(0,8)}}</b>{{' ' + parsetime(focusedarticle.PublishTime).substr(8)}}
                    </div>
                    <br/>
                    <div v-html="focusedarticle.Body"></div>

                    <div class="back-read-group">
                        <div class="btn-group" role="group">
                            <span type="button" class="btn btn-outline-primary" v-on:click="multipage = true">&laquo; Back</span>
                            <a type="button" class="btn btn-primary" :href="focusedarticle.SourceURL">Read origin</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div style="text-align: left" v-for="cmnt in focusedarticle.Comments" v-bind:key="cmnt.Id">
                                <p style="margin-bottom: 2px"><b>{{cmnt.UserName + " "}}</b><small>{{parsetime(cmnt.CreationTime)}}:</small></p>
                    <p style="background-color: rgb(238, 238, 238);margin-bottom: 25px">{{cmnt.Text}}</p>
                    
                </div>
                </div>
            </div>
        </template>
    </div>
</div>