h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  .col-md-6{
    background-color:#eee;
    border: 3px solid white;
    border-radius:15px;
  }
  .back-read-group{
    text-align:right;
    margin-bottom:15px;
  }
  .col-md-12{
    background-color:white;
    text-align:center;
    border: 1px solid white;
    margin-top:13px;
    border-radius:5px;
    padding:5px;
  }
  .row{
    margin-top:10px;
  }
  .small{
    text-align:right;
  }