<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li v-for="item in pagelist" :class="item==currentPage ? 'page-item active' : 'page-item'">
      <span class="page-link" v-on:click="setpage(item)">
        {{item}}
      </span>
    </li>
    <li :class="maxpage==currentPage ? 'page-item active' : 'page-item'">
        <span class="page-link" v-on:click="setpage(maxpage)">
          {{maxpage}}
        </span>
      </li>
  </ul>
</nav>