<template src="./Paginator.html"></template>
<style scoped src="./Paginator.css"></style>

<script>
import NewsList from "./NewsList.vue";

export default {
  name: "Paginator",

  props: ["parent", "auth"],

  data() {
    return {
      currentPage: 1,
      maxpage: 9,
      pagelist: []
    };
  },

  methods: {
    getinit: function() {
      let myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json; charset=utf-8");

      if (this.auth != undefined && this.auth != "" && this.auth.accesstoken != undefined && this.auth.accesstoken != "") {
        myHeaders.append("Authorization", "Bearer " + this.auth.accesstoken);
      }
      
      return { method: "GET", headers: myHeaders };
    },

    setmaxpage: function() {
      let th = this;
      fetch("http://localhost:52102/api/Articles/", th.getinit())
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          th.maxpage = Math.trunc(data / 21);
          if (data % 21 != 0) th.maxpage++;
        });
    },

    setpage: function(page) {
      let th = this;
      th.setmaxpage();
      fetch("http://localhost:52102/api/Articles/" + page + "/21", th.getinit())
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          th.parent.articles = data;
        });

      this.currentPage = page;

      var pList = [];

      var n = page - 4;
      if (n <= 0) n = 1;

      for (let i = 0; i < 8; i++) {
        if (n < this.maxpage) pList.push(n);
        n++;
      }

      this.pagelist = pList;
    }
  },

   created: function() {
     this.setpage(1);
   }
};
</script>



