<template>
  <div id="app">
    <router-view></router-view>
    <footer>
        <div class="foot">&copy; 2018 - Learning project</div>
    </footer>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.foot{
  border-top: 1px solid #eee;
  padding-right:15px;
  text-align:right;
}
</style>